*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box; 
}

body{
    background: #080808;
    color: #fff;
}

html{
    scroll-behavior: smooth;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(../IMAGES/IMG_0349.PNG);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    padding-left: 30px;

}

nav ul a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

nav ul a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1{
    font-size: 60px;
    margin-top: 30px;
}

.header-text h1 span{
    color: #ff004f;
}


/* about  */

#about{
    padding: 80px 0;
    color: #fff
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 30px;
}
.about-col-1{
    flex-basis: 35%;

}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0 ;

}

.tab-contents ul li span{
    color: #c56282;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* my work */

#MyWork{
    padding: 20px 0 ;
}

.mywork-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;
}
.mywork-col-1{
    flex-basis: 30%;
    

}

.mywork-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.mywork-col-2{
    flex-basis: 30%;

}
.mywork-col-2 img{
    width: 100%;
    border-radius: 15px;
}

.mywork-col-3{
    flex-basis: 30%;
}

.mywork-col-3 img{
    width: 100%;
    border-radius: 15px;
    }

.btn{
    display: block;
    margin: 50px auto;
    width: 200px;
    border: 1px solid #ff004f;
    padding: 14px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:  0.5s;
    text-align: center;

}

.btn:hover{
    background: #ff004f;

}

/* contact */

.contact-left{
    flex-basis: 35%;
    padding-left: 40px;
    padding-top: 0px;

}

.contact-right{
    flex-basis: 60%;
    padding-left: 20px;
    padding-right: 20px;
    
}

.contact-left{
    margin-top: 30px;
}

.contact-left p i{
    color: #c56282;
    margin-right: 15px;
    font-size: 25px;
    padding: 10px;
    padding-top: 40px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;

}

.social-icons a:hover{
    color: #c56282;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right{
    width: 100%;
    
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    padding: 15px;
    margin: 15px 0;
    color: #080808;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

nav .bi{
    display: none;
}

/* screen size */
@media only screen and (max-width: 600px){
    #header{
        background-image: url(../IMAGES/IMG_0352.PNG)
        
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }

    nav .bi{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #c56282;
        position: fixed;
        top: 0;
        right:-200px;
        width: 200px;
        height: 100vh;
        padding-top: 10px;
        z-index: 2;
        transition: right 0.5s;

    }
    nav ul li{
        display: block;
        margin: 52px;
        left: 15px;
    }
    nav ul .bi{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

.sub-title{
    font-size: 40px;
}
.about-col-1, .about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom: 30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.mywork-col-1{
    flex-basis: 100%;
}
.mywork-col-2{
    flex-basis: 100%;
}
.mywork-col-3{
    flex-basis: 100%;
}
col-1{
    align-items: center;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}

}